# Spotify API認証情報
SPOTIFY_CLIENT_ID=f95ab09e3bf34f46bf1ef5683801bca3
SPOTIFY_CLIENT_SECRET=4ff1f07f1bc243e1b3abb2615b744224
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback

# サーバー設定
HOST=0.0.0.0
PORT=8000

# 開発環境設定
DEBUG=True

# トークン保存先
TOKEN_PATH=./tokens
